
.About-us-section{
    background-image:url("../img/beef\ and\ dairy.jpg"); 
    
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-attachment: fixed;
     width: 100%;
    
     border-radius: 5px ;
     

     
     
     
}
.portfolio{
    margin-top: 20px;
}
#About{
    
    
    max-width: 40%;
    border-radius: 3px solid;
    margin-right: 80px;
    margin-bottom: 20px;
     margin-top: 100px;
}
#About h1{
    color: rgb(10, 244, 10);
   
    
    font-size:60px;
}
.bt{
    background-color: rgb(41, 172, 41);
    width:60%;
    
}
.search{
    margin-bottom: 10px;
}
#About h2{
    color: rgb(10, 244, 10);
   
    
    font-size:40px;
}
#About p{
    
    font-weight: bolder;
}


.top-hero-section p{
    color:white;
}
nav li a{
    text-decoration: none;
}
.carousel-inner{
    height: 300px;
    color:white
   
}
.carousel-item img{
    height:300px !important;
    width: 100% !important;
    border: 3px solid white;




}
.testimony-person img{
    max-width: 80%;
    min-height: 30vh;
}
.testimony-person1 img{
    max-width: 40%;
    min-height: 30vh;
}
.logo-section img{
    margin: auto;
    display: block;
}
.logo-section{
    background-color: lightgray;
}
.carousel-caption h5 {
    color:black;
    font-size: 30px;
}
.carousel-caption p{
    color:white;

}
#hero-section{
    color:white;
    background-color: lightgray;
}
.img-2 {
    width:950px;
    
}
.hero__caption h1{
font-size: 40px;
}
.hero__caption{
    width:60%;
}
.slider{
    max-width: 100%;
}
.edge-animation img{
    width: 300%;
    margin-left: 150px;
    margin-top: 20px;
    min-height: 95%;
   
}




.edge-animation{
   margin-left: 30px;
   max-width: 60%;
}
.logo {
    color: lime;
    font-size: 30px;
    font-weight: bolder;
}
 .dec{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
   
}
.jan{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

}
.form{
    width:60%;
}


.question p{
    font-size:20px;
    font-weight: bold;
    padding: 6px;
    width:70%;
   
    
    background-color:lightgray;
}
.question a{
   position: absolute;
   width:3%;
   height: 30px;
   font-size: 20px;
   text-align: center;
  
}
.about{
border-radius: 3px;
text-decoration: none;
padding: 15px;
font-size: 20px;
width: 80%;
height: 80%;
text-align: center;
}

.about button a{
    text-decoration: none;
}


    

 .next{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

}
.hire{
    background-color: lightgray;
    min-height: 50vh;
}
.hire .container{
    height: ;
}
.hire img{
    min-height: 50vh;
}
input[type="text"],input [type="email"], input[type="tel"]{
    width:80%;
    border-radius: 5px;
    padding: 6px;
}
input[type="email"]{
    width: 80%;
    border-radius: 5px;
    padding: 6px;
}
label{
    font-size:20px;
}
.submit button {
   margin-top: 10px;
   border-radius: 5px;
   width: 60%;
   background-color: lime;
   color: white;
   padding: 6px;
   font-size: 20px;
    
}

.submit a{
    width: 60%;
}
.trend{
    background-color: gray;
}
.submit a{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.portfolio h5{
    color: lime;
}
.portfolio{
    background-color: black;
    color: white;
}


@media (max-width:769px){
    .img-2{
        width:205%;
    }
    
    
}
@media (max-width:427px){
    html,body{
        margin: 0px;
       
        max-width: 100rem;
        overflow-x: hidden;
    }
    #hero-section{
        width:100%;
    }
   
   
    .top-hero-section{
        width: 100%;
        height: 80%;
    }
    .question a{
        width:5%;

    }
    .portfolio .row{
        margin: auto;
        display: block;
    }
        
    
    label{
        font-size:40px;
    }
    .services{
        width:100%;
    }
    .img-2{
        width:100%;
    }
    label{
        font-size: 15px;
    }
    .About-us-section{
      width: 100%;
    }
   .About-us-section img{
       max-width: 100%;
   }
    .Delivery-section{
        width:100%;
    }
    .Delivery-section img{
        max-width: 100%;
    }
    .products{
        width:100%;
    }
    .hire{
        width:100%;
    }
    .testimonials{
        width:100%;
    }
    .question{
        width:100%;
    }
    .portfolio{
        width:100%;
    }
}